
body{
  margin: 0;
  padding: 0;
}

.head{
    color: #113825;
    font-weight: 700;

}

.cardd:hover {
  transform: translateY(-5px);
  transition: 0.4s;
}

.cardd img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.cardd {
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card-body {
  display: flex;
  flex-direction: column;
}










.baj1{
  background-color:rgb(189, 184, 184);
  color: gray;
}

.baj2{
  background-color: rgb(127, 233, 127);
}
.baj-pending{
  background-color: rgb(238, 142, 142);
}

.donation-summary {
  background: #379647 !important;
  width: 100% !important;        
  max-width: 70rem;
  border-radius: 16px !important;
  color: white !important;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08) !important;
  margin: 0 auto;                
  padding: 1rem;                
}


@media (max-width: 576px) {
  .donation-summary .card-body {
    justify-content: center;
    text-align: center;
  }

  .main-contant h2.head,
  .main-contant p.text-muted {
    text-align: center;
  }
}


/* About */

/* .diff-together{

  margin-top: 20px;
 height: 3rem;
 width: 26rem;
 font-size:16px;
 font-weight: 600;
 padding-top: 15px;
 background-color: #c6f3ce !important;
 color:rgb(72, 124, 72) !important;
}

.b-heading{
  
  width: 800px;
  font-size: 3.5rem;
  margin-top: 30px ;
  text-align: center;
  color: #113825;
}
.about-p{
   
  width: 780px;
  margin-top:30px ;
  font-size:20px ;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  color: rgb(82, 80, 80);
} 
.our-values{
  margin-top: 5rem;
  font-weight: 700;
  
}
.p-p{
  font-size: 18px;
  letter-spacing: normal;
  color: rgb(82, 80, 80);
} 



.about-cards{
  border: 1px solid rgb(168, 165, 165);
  height: 14rem;
 
}
.about-body{
  margin-top: 10px;
  margin-left: 10px;
 color: rgb(56, 54, 54);
  background-color: white !important;
}
.about-icon{
  background-color: #dcf1e0;
  width: 55px;
  text-align: center;
  border-radius: 11px;
  margin-top: 30px;
  margin-left: 30px;
} 



.about-form{
 display: flex;
align-items: flex-start;
margin-top: 85px;
gap: 50px;
}
.about-btn{
  width:500px ;
  border-radius: 10px;
  background-color: #32863e;
  color: white;
}
.about-btn:hover{
  background-color:#55c266 ;
  color: white;
}
.about-form .left{
  flex: 1;
}
.about-form .right{
  flex: 1;
  width:550px ;
  height:650px;
  border: 1px solid rgb(196, 193, 193);
  border-radius: 15px;
  padding: 30px;
}

.form-icon{
    background-color: #dcf1e0;
  width: 50px;
  height: 45px;
   text-align: center;
  border-radius: 11px;
 padding: 4px;
  margin-top: 10px;
}
.left-details{
  margin-top: 10px;
}
.left-form-text{
  font-size: 18px;
   color: rgb(82, 80, 80);
}
span{
  color: rgb(82, 80, 80);
}
.about-cards {
  border: 1px solid #d1cfcfe0;
  transition: all 0.2s ease;
}

.about-cards:hover {
  box-shadow: 0 10px 25px rgba(72, 124, 72, 0.25);
  transform: translateY(-3px);
} */

 
/* diff-together badge */
.diff-together {
  margin-top: 20px;
  height: 3rem;
  width: 26rem;
  font-size: 16px;
  font-weight: 600;
  padding-top: 15px;
  background-color: #c6f3ce !important;
  color: rgb(72, 124, 72) !important;
}


.b-heading {
  max-width: 90%;
  font-size: 3.5rem;
  margin-top: 50px;
  text-align: center;
  color: #113825;
}


.about-p {
  max-width: 70%;
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  color: rgb(82, 80, 80);
}

/* Values Section */
.our-values {
  margin-top: 10rem;
  font-weight: 700;
}
.p-p {
  font-size: 18px;
  letter-spacing: normal;
  color: rgb(82, 80, 80);
  text-align: center;
}

/* Cards */
.about-cards {
  border: 1px solid rgb(168, 165, 165);
  height: 14rem;
  transition: all 0.2s ease;
}

.about-cards:hover {
  box-shadow: 0 10px 25px rgba(72, 124, 72, 0.25);
  transform: translateY(-3px);
}

.about-body {
  margin-top: 10px;
  margin-left: 10px;
  color: rgb(56, 54, 54);
  background-color: white !important;
}
.about-icon {
  background-color: #dcf1e0;
  width: 55px;
  text-align: center;
  border-radius: 11px;
  margin-top: 30px;
  margin-left: 30px;
}

/* About Form */
.about-form {
  display: flex;
  align-items: flex-start;
  margin-top: 10rem;
  gap: 50px;
  flex-wrap: wrap; 
}

.about-form .left,
.about-form .right {
  flex: 1;
  min-width: 300px; 
}

.about-form .right {
  width: 100%; 
  max-width: 550px;
  height: auto; 
  border: 1px solid rgb(196, 193, 193);
  border-radius: 15px;
  padding: 30px;
}

.about-btn {
  width: 100%; 
  max-width: 500px;
  border-radius: 10px;
  background-color: #32863e;
  color: white;
}

.about-btn:hover {
  background-color: #55c266;
  color: white;
}

/* Form Icon and Left Details */
.form-icon {
  background-color: #dcf1e0;
  width: 50px;
  height: 45px;
  text-align: center;
  border-radius: 11px;
  padding: 4px;
  margin-top: 10px;
}
.left-details {
  margin-top: 10px;
}
.left-form-text {
  font-size: 18px;
  color: rgb(82, 80, 80);
}
span {
  color: rgb(82, 80, 80);
}

/* Responsive tweaks */
@media (max-width: 992px) {
  .b-heading {
    font-size: 2.8rem;
  }
  .about-p {
    font-size: 18px;
  }
  .diff-together {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .about-cards {
    width: 90% !important;
    margin: 0 auto 2rem auto;
    height: auto; /* Auto height for mobile */
  }

  .about-form {
    flex-direction: column;
    gap: 30px;
  }

  .about-form .right {
    padding: 20px;
  }

  .about-btn {
    width: 100%;
  }

  .about-icon {
    margin-left: 20px;
    margin-top: 20px;
  }
}



/* index */


@media (max-width: 992px){
  
    .part-2nd-text,
  .part-3rd-text,
  .secure-text{
    width: 90% !important;
    margin: 0 auto !important;
    text-align: center;
  }
   .bajj{
    margin: 120px auto 0 !important;
    display: block;
  }


   .part-2nd-btn,
  .part-2nd-btn2{
    margin: 40px auto 0 !important;
    display: block;
  }

 .secure-icon{
    margin: 0 auto !important;
  }

  .secure-baj{
    margin-left: 0 !important;
    justify-content: center;
    flex-wrap: wrap;
  }

 
}
@media (max-width: 768px){
  .work-cards{
    flex-wrap: wrap;
        justify-content: center !important;
  }

  .index-cards{
    width: 90% !important;
     margin-left: 0 !important;
  }
    .part-2nd,
  .part-3rd{
    height: auto !important;
    padding: 60px 15px;
  }
  .container-fluid{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
   .part-2nd,
  .part-3rd,
  .secure-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   .part-2nd-text,
  .part-3rd-text,
  .secure-text{
    margin-left: 0 !important;
    width: 100% !important;
    max-width: 95%;
    text-align: center;
  }
  .bajj,
  .baj{
    margin-left: 0 !important;
  }

  .part-2nd-btn,
  .part-2nd-btn2{
    margin-left: 0 !important;
  }
}

/* 
@media (max-width: 768px){
  .part-2nd, .part-3rd, .secure-box{
    height: auto;
    padding: 50px 20px;
  }

  .heroo{
    height: 80vh;
  }

  .num{
    font-size: 40px;
  }
} */






.heroo{
  height: 100vh;
  background-image: url("heroimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}




.custom-navbar .nav-link {
  color: white;
  font-weight: 500;
}
.solid-nav .nav-link{
    color: white;
  font-weight: 500;
   transition: color 0.3s ease;
}
.custom-navbar .nav-link:hover {
   color: #00FF7F;
}


.custom-navbar{
  background-color: transparent !important ; 
  position: absolute;            
  top: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s ease;

}


/* On scroll - solid */
.custom-navbar.scrolled{
  background-color: #1f3f35 !important;
  box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}

/* Offcanvas fixes */
.offcanvas .nav-link{
  font-size: 18px;
}

/* Optional: toggle icon color */
.navbar-toggler-icon{
  filter: invert(100%);
}




.nav-logo{
  width: 180px;
  height: auto;
}

/* navbar links */
.navbar-dark .nav-link{
  color: #20da2f;
}

.navbar-dark .nav-link:hover{
  color: #2ecc71;
}


.nav-bar .nav-link {
  color: #5fdb71;
  font-weight: 600;
  font-size: large;
}

.solid-nav {
 background-color: #1f3f35;
  height: 85px;
}
.solid-nav .nav-link{
  color: white;
  font-size: medium;
  font-size: 500;
}
.solid-nav .nav-link:hover{
  color: #32743c;
}
.main-contant{
  padding-top: 90px;
}
.part-2nd{
height: 700px;
background-color: #effaf1;
width: 100vw !important;

}
.part-2nd-heading{
display: flex;
justify-content: center;
color: #113825;
font-size: 50px;
font-weight: 700;
margin-top: 50px !important;
}
.part-2nd-text{
   max-width: 700px;
  margin: 0 auto;
  text-align: center;
font-size: 23px;

}

 .bajj{

 margin: 150px auto 0;
  display: block;
  text-align: center;

  margin-top: 150px;
  min-height: 3rem;
  width: 28rem;
margin-left: 28rem;
font-size: 17px !important;
padding-top: 14px !important;
 background-color:#a7d8af !important ;
 color:rgb(72, 124, 72) !important;
 }
 .bajj i{
  font-size: large !important;
 }

.part-2nd-btn{
  width: 200px !important;
  height: 50px;
  font-size: 18px !important;
  font-weight: 700 !important;
   margin-left: 28rem;
   margin-top: 50px;
}


.part-2nd-btn2{
  width: 200px !important;
  height: 50px;
  font-size: 18px !important;
  font-weight: 700 !important;
   margin-top: 50px;
}
.part-3rd{
height: 700px;
}
.part-3rd-heading{
 display: flex;
justify-content: center;
color: #113825;
font-size: 35px;
font-weight: 700;
margin-top: 10rem !important;
}
.part-3rd-text{
font-size: 20px;
width: 800px;
text-align: center;
margin-left: 17rem;
}
.index-icon{
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background-color: #e9f6ee;   
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 40px 10px;
  transition: all 0.3s ease;
}
.index-icon i{
  font-size: 35px;
  color: rgb(72, 124, 72);
  transition: all 0.3s ease;
}
.index-cards:hover .index-icon{
  background-color: rgb(72, 124, 72);
}
.index-cards:hover .index-icon i{
  color: #fff;
}
.index-cards{
  transition: all 0.3s ease;
  border-radius: 20px !important;
  
}

.index-cards:hover{
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.num{
  font-size: 50px;
  font-weight: 800;
  color: #c6f3ce;
  margin-top: 10px;
  margin-left: 40px;
 
}
.index-text{
 
 color: rgb(82, 80, 80) ;
 width: 200px;

}
.index-body{
  margin-left: 25px;

}
.secure-box{
  height: 400px;
  border-radius: 20px;
  background-color:rgb(69, 156, 69);
  text-align: center;
 padding-top: 10px;
}
.secure-icon{
 width: 200px;
 height: 100px;
 margin-left: 30rem;
 display: flex;
 justify-content: center;

}
.secure-icon i{
  color: white;
  font-size: 80px;
}
.secure-heading{
  margin-top: 20px;
  color: white;
  font-size:35px;
  font-weight: 600;
  margin-left: 30px;
}
.secure-text{
  color: white;
  font-size:22px;
  font-weight: 400;
  width:800px ;
  margin-left: 11rem;
}
.baj{
  min-height: 2.5rem;
  width: 10rem;
font-size: 13px !important;
padding-top: 10px !important;
 background-color:rgb(131, 201, 131) !important ;
color: white;
}
.baj i{
    font-size: medium !important;
    color: white !important;
}
.secure-baj{
  margin-top: 35px;
  display: flex;
  gap: 20px;
  margin-left:18rem;
}
.donor-icon{
   font-size: 50px;
  font-weight: 800;
  color: #c6f3ce;
  margin-top: 2px;
  margin-left: 40px;
  margin-bottom: -10px;
}
.stars i{
  color: #f4c430;        
  font-size: 18px;
  margin-right: 4px;  
}
.letter-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
background: linear-gradient(135deg, #379647, #1f6f3a);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
}

.info-text{
  margin-left: 12px;
}

.info-text h6{
 padding-top: 30px;
 font-weight: 700;
}

.info-text p{
 
  font-size: 15px;
  color: #71787e;
}

/* footer */


.footer-section{
  background-color: #1f3f35;
  color: #cfd8d3;
  margin-top: 40px;
}


.footer-logo-img{
  width: 160px;
  margin-bottom: 5px;
margin-top: -40px;
}


.footer-text{
  font-size: 16px;
  line-height: 1.6;
  width: 200px;
}


.footer-title{
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 15px;
}


.footer-links li{
  margin-bottom: 8px;
}

.footer-links a{
  color: #cfd8d3;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover{
  color: #2ecc71;
}

/* Contact */
.footer-contact li{
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-contact i{
  color: #2ecc71;
  margin-right: 8px;
}

/* Developer Box */
.dev-box{
  background-color: #244c40;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
}

/* Line */
.footer-line{
  border-color: rgba(255,255,255,0.1);
  margin: 30px 0 15px;
}

/* Bottom Text */
.footer-bottom{
  font-size: 14px;
}


.total-raised{
  background-color: #2a862f !important;
  border-radius: 20px !important;
  border:none !important ;
}
.total-raised2{
  background-color: #e1f7e9!important;
  border-radius: 20px !important;
   width: 500px;
   border:none !important ;
}
.total-raised3{
  background-color:#dd6c47!important;
  border-radius: 20px !important;
   width: 500px;
   border:none !important ;
}
.total-raised{
  width: 500px;
}
.raised-text{
font-size: medium;
color: white;
}
.raised-text2{
font-size: medium;
color: gray;
}
.raised-small{
  font-size: small;
   color: white;
}
.raised-small2{
  font-size: small;
   color:gray;
}
.raised-heading{
  font-size: 30px;
  color: white;
}
.raised-heading2{
  font-size: 40px;
  color: black;
}

.dashboard-causes{
  height: 40rem;
} 

.dashboard-donationcauses{
 padding-top: 6rem;
 padding-bottom: 4rem;
}












.card-header1{
 color:#113825 ;
  font-size: 25px !important;
  font-weight: 600;

}

.table-heading {
  font-weight: 700;
 
 
}

.dashboard-box1 {
  max-width: 100%;
  margin-bottom: 150px !important;

}


@media (min-width: 992px) {
  .dashboard-box1 {
    max-width: 600px;   
    margin: auto;
  }
}




.box2{
  padding-bottom: 100px !important;
  
}


.dashboard-header2 {
  background: #f8f9fa;
  font-weight: 600;
  font-size: 1.5rem;
}

.dashboard-table th,
.dashboard-table td {
  font-size: 0.95rem;   
}

.rs {
  font-weight: 600;
}

.baj1 {
  background-color: #198754; 
  font-weight: 500;
}

.dashboard-box2 {
  border-radius: 8px;
  
}


/* navbar */
.offcanvas-body .nav-link {
  font-size: 1.05rem;
  padding: 10px;
  border-radius: 6px;
}

.offcanvas-body .nav-link:hover {
  background: rgba(255,255,255,0.1);
}















